# .gitignore
# 2021-08-31
# Michael Cole (mcole042891.prof.dev@gmail.com)
#
# Git Ignore for the project
# ---------------------------------------------

# General
secrets.env

# NodeJS
.nyc_output
coverage/
node_modules/
npm_debug.log
package-lock.json
test/*.log

# Postgres
postgres-data/

# React
#   dependencies
/node_modules
/.pnp
.pnp.js
#   testing
/coverage
#   production
/build
#   misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
